<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #e8f5e9; 
        }
        .container {
            text-align: center;
            padding: 30px;
            background-color: white;
            border-radius: 10px;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            width: 85%;
            max-width: 700px;
        }
        .title {
            font-size: 28px;
            color: #388e3c; 
            margin-bottom: 20px;
        }
        .link {
            display: inline-block;
            font-size: 18px;
            color: #ffffff;
            background-color: #388e3c;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            font-weight: bold;
            transition: background-color 0.3s;
        }
        .link:hover {
            background-color: #2e7d32;
        }
        .answer-btn {
            padding: 15px;
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #388e3c;
            background-color: #66bb6a; 
            color: white;
            cursor: pointer;
            border-radius: 8px;
            transition: background-color 0.3s, transform 0.2s;
        }
        .answer-btn:hover {
            background-color: #43a047; 
            transform: translateY(-3px);
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="title"><strong>Hai fatto un errore sciocco!</strong></div>
        <button class="answer-btn" onclick="window.location.replace('/quiz-list')">Torna ai quiz</button>
        
    </div>
</body>
</html>
